<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAlternateAssessmentRoundTwo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <p align="center"><%= image_tag "prisoners_pizza.png", class: "pizza_logo"%></p>
      <h1 align='center' style='font-size:3rem;color:#d12b15'>The Flatiron Pizza Society</h1>
      <%= yield %>
    </div>
  </body>
</html>
